<html>
  <head>
    <title>ToDo App</title>
    <link href="/style.css" rel="stylesheet">
  </head>
  <body>
    <header>
    </header>
<main>
<section>
  <h1>BrokeSmoke</h1>
</section>
<section>
<p> Smoked less: <%= saves %> </p>
<p> Have smoked: <%= smokes %> </p>
<p> Scrounged off: <%= scrounges %> </p>
<section>

<div class="buttons">
<div class="savings">

  <form action="/removesave" method="POST">
    <button class="remove">Remove savings</button>
  </form>
      <form action="/addsave" method="POST">
        <button>Add savings</button>
      </form>
      <h2>  <%= saves %> <h2>
      <h2>Cigarettes saved</h2>


</div>



<div class="smokes">
  <form action="/removesmoke" method="POST">
    <button class="remove">Remove smokes</button>
  </form>
      <form action="/addsmoke" method="POST">
        <button>Add smokes</button>
      </form>

      <h2>  <%= smokes %> </h2>
      <h2>Cigarettes smoked</h2>


</div>



<div class="scrounges">
  <form action="/removescrounge" method="POST">
    <button class="remove">Remove scrounge</button>
  </form>
      <form action="/addscrounge" method="POST">
        <button>Add scrounge</button>
      </form>
                <h2>  <%= scrounges %> </h2>
                <h2>Cigarettes scrounged</h2>



</div>


</div>
<section class="cigarettesVisualized">
        <%  for (i = 0; i < saves; i++) { %>
          <% include smallGreen.svg %>
        <%  } %>
<%  for (i = 0; i < smokes; i++) { %>
  <% include smallRed.svg %>

<%  } %>
<%  for (i = 0; i < smokes; i++) { %>
  <% include smallRed.svg %>
<%  } %>
</section>


    </main>
  </body>
</html>
