<html>
  <head>
    <title>ToDo App</title>
    <link href="/style.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <h1>Shopping List</h1>
    </header>
    <main>
        <form action="/addtask" method="POST">
        <input type="text" name="newtask" placeholder="add new task" required>
        <input list="category" name="category" placeholder="category" required>
        <datalist id="category">
          <option value="Beverages">
          <option value="Bread/baker">
          <option value="Canned/jarred goods">
          <option value="Dairy">
          <option value="Dry/baking goods">
          <option value="Frozen">
          <option value="Bread/baker">
          <option value="Meat">
          <option value="Produce">
          <option value="Cleaners">
          <option value="Paper goods">
          <option value="Personal Care">
          <option value="Dairy">
          <option value="Other">
        </datalist>
        <button formaction="/addtask" type="submit" name="addtask">Add</button>
      </form>

      <!-- <form action="/completeTask" method="POST"> -->

        <% for(let i = 0; i < task.length; i++){ %>
          <% if (task[i].checked === true) { %>
            <div><input type="checkbox" name="checked" value="" id="checked" checked/> <label for="checked"><%= task[i].name %> <%= task[i].category %></label> <button data-id="<%= i %>">verplaats</button></div>
          <% } else { %>
            <div><input type="checkbox" name="check" value="" /> <%= task[i].name %> <%= task[i].category %><button data-id="<%= i %>">verplaats</button></div>
          <% } %>
          <!-- <button formaction="/completeTask" type="submit" name="completeTask" id="top">Remove</button> -->
        <% } %>
      <!-- </form> -->
    </main>
  </body>
</html>
