<html>
  <head>
    <title>ToDo App</title>
    <link href="/style.css" rel="stylesheet">
  </head>
  <body>
    <header>
    </header>
<main>
<section>
  <h1>BrokeSmoke</h1>
</section>
<section>
<p> Smoked less: <%= saves %> </p>
<p> Have smoked: <%= smokes %> </p>
<p> Scrounged off: <%= scrounges %> </p>
<section>

<div class="categories">

<div class="savings">
  <h2>  <%= saves %> Cigarettes saved</h2>
  <section class="buttons">
  <form action="/removesave" method="POST">
    <button class="remove">remove savings</button>
  </form>
  <form action="/addsave" method="POST">
    <button>add savings</button>
  </form>
</section>



</div>



<div class="smokes">
  <h2>  <%= smokes %> Cigarettes smoked</h2>
  <section class="buttons">
  <form action="/removesmoke" method="POST">
    <button class="remove">remove smokes</button>
  </form>
      <form action="/addsmoke" method="POST">
        <button>add smokes</button>
      </form>
</section>


</div>



<div class="scrounges">
  <h2>  <%= scrounges %> Cigarettes scrounged </h2>
  <section class="buttons">
  <form action="/removescrounge" method="POST">
    <button class="remove">remove scrounge</button>
  </form>
      <form action="/addscrounge" method="POST">
        <button>add scrounge</button>
      </form>
</section>


</div>


</div>
<section class="cigarettesVisualized">
        <%  for (i = 0; i < saves; i++) { %>
          <% include smallGreen.svg %>
        <%  } %>
<%  for (i = 0; i < smokes; i++) { %>
  <% include smallRed.svg %>

<%  } %>
<%  for (i = 0; i < smokes; i++) { %>
  <% include smallRed.svg %>
<%  } %>
</section>


    </main>
  </body>
</html>
